<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="section">
        <h2>Looping through lists</h2>
        <ul>
          <li v-for="character in characters">
            {{ character }}
          </li>
        </ul>
        <ul>
          <li v-for="(ninja, index) in ninjas">
            {{ index }}. {{ ninja.name }} - {{ ninja.age }}
          </li>
        </ul>
        <div>
          <template v-for="(ninja, index) in ninjas">
            <h3>{{ index }}. {{ninja.name}}</h3>
            <p> {{ ninja.age }}</p>
          </template>
          <template v-for="ninja in ninjas">
            <div v-for="(val, key) in ninja">
              {{ key }}: {{ val }}
            </div>
          </template>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="/app.js"></script>
  </body>
</html>
